body{
    margin: unset;
}

.contenitore{
    width: 100%;
}

.sinistra{
    background-color: lightgreen;
    width: 50%;
    /* padding: 10px; */
    float: left;
}
.destra{
    background-color: lightgrey;
    width: 50%;
    /* padding: 10px; */
    float: right;
}

p, h1{
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 720px) {
    .sinistra{
        background-color: lightgreen;
        width: 100%;
    }
    .destra{
        background-color: lightgrey;
        width: 100%;
    }
}