.tab-scheletro {
    background-color: lightcyan;
    width: 100%;
}

.tab-interna {
    background-color: lightgreen;
    width: 100%;
}

.logo-container{ 
    width: 50%;
    text-align: center;
}
.logo-container img{
    height: 50px;
}

.colonna-profilo{
    width: 33%;
}

.img-profilo{
    width: 100%;
    border-radius: 5px;
}

.td-contenitore{
    padding: 15px;
}

.tab-contenuto{
    width: 100%;
    background-color: lightgrey;
}

.footer{
    text-align: center;
}

p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}