.contenitore{
    background-color: lightgrey;
    padding: 10px;
}

@media screen and (max-width: 540px){
    .contenitore{
        background-color: red;
        color: white;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px){
    .contenitore{
        background-color: yellow;
    } 
}
